.classpath
.project
.settings/
build/

### IntelliJ Project
.idea/*
*.iml

### Eclipse Project
# Eclipse specific files/directories #
######################################
.classpath
.project
.settings
.metadata
bin/*


### Java Compiled
*.class
out/*


### Package Files
*.jar
*.war
*.ear
/bin/

src/META-INF/
